<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine on
	# Bloqueia a listagem de diretórios.
	Options All -Indexes

	# Mensagem de erro personalizada.
	ErrorDocument 403 "Desculpe! Acesso nao permitido

	RewriteRule ^users/?$ ClassUsers.php [NC]
	RewriteRule ^protocolos/?$ ClassProtocol.php [NC]
</IfModule>


